
<h2>About Us</h2>

<br/>

<div class="row">
    <div class="col-sm">

            <p>
                This web app is a Contact Management Tool to store your friend's or colleague's contact info including Email, phone number, Instagram, Twitter and Facebook. 
                With the Simple User Interface and Faster performance, we intend to provide a better service for our user.
                 Not only provide a better performance, we also provide a simple and better User Interface. 
                 Hence, it is easy to use this web app. It's self-explanatory.
            </p>
            <p>
                User can add, delete and update their list of contact details after Log In. 
                User can also update their account password or delete their account. 
                To create an account, user need to use their email.
                This web app is free to use. For any inquiries please contact aurellyagho25@gmail.com.
            </p>
    
 
    </div>
</div>