<h2>Documentation</h2>
<br/>

<div class="card">
  <div class="card-header">
    <span class="badge badge-danger">Ruby</span>
    <span class="badge badge-warning">JavaScript</span>
    <span class="badge badge-info">Scss</span>
    <span class="badge badge-success">HTML</span>
  </div>
  <div class="card-body">
    <i class="fa fa-github" aria-hidden="true"></i>&nbsp;&nbsp;github.com/Aurellya/Contact-Book
    <br/><br/>
    <p>
        This sites is built using Ruby on Rails framework and Bootstrap. <br/>
        Go to my github to see more.
    </p>
    <br/>
    <a href="https://github.com/Aurellya/Contact-Book" class="btn btn-info">See More</a>
  </div>
</div>


