<h2>Contact Book</h2>
<br/>

<div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Start Creating Your Own Contact Book</h5>
          <p class="card-text">
            Get started with &nbsp;<i class='fa fa-address-book'></i> Contacts. 
            The world’s simplest site to store the list of contact info of your friends, family or colleagues.
            </p><p>
            Just Sign Up using your email account.
            Login and Start creating your own contact book. Easy. Simple. Start Now!
          </p>
          <%= link_to "Start Now", new_user_session_path, class:"btn btn-info" %>
        </div>
      </div>
    </div>
    <div class="col-sm text-center">
      <img src="https://images.assetsdelivery.com/compings_v2/stockgiu/stockgiu1811/stockgiu181105120.jpg" width="380px"/>
    </div>
</div>

<br/><br/>

<div class="jumbotron">
  <div class="card-deck">
    <div class="card">
      <div class="text-center mt-md-4">
        <i class="fa fa-lock" aria-hidden="true" style="font-size: 44px"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Secure</h5>
        <p class="card-text text-center">
          This site is secure. All your password is encrypted and all your data is saved in the secure place. 
        </p>
      </div>
    </div>
    <div class="card">
        <div class="text-center mt-md-4">
          <i class="fa fa-lightbulb-o" aria-hidden="true" style="font-size: 44px"></i></i>
        </div>
          <div class="card-body">
          <h5 class="card-title text-center">Better Performance</h5>
          <p class="card-text text-center">
            Do not worry about performance. We provide you the best possible technical performance.
          </p>
        </div>
    </div>
    <div class="card">
        <div class="text-center mt-md-4">
            <i class="fa fa-user-o" aria-hidden="true" style="font-size: 44px"></i>
        </div>
        <div class="card-body">
        <h5 class="card-title text-center">Simple</h5>
        <p class="card-text text-center">
          We provide you with the simple interface. Easy to access, easy to start, and easy to use.
        </p>
        </div>
    </div>
  </div>
</div>
