<h2>Quick Links</h2>
<br/>
<i class="fa fa-envelope"></i>&nbsp;&nbsp;contactbook@gmail.com<br/>
<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;4444 1234 9876<br/>
<i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;contact_book<br/>
<i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;&nbsp;@contactbook55<br/>
<i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;Contact Book</i>