<div class="card">
  <div class="card-header">
    <h4>Editing Contact</h4>
  </div>
  <div class="card-body">
    <%= render 'form', contact: @contact %>
    <br/>
    <%= link_to 'Show', @contact, class:"btn btn-info" %>
    <%= link_to 'Delete', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <%= link_to 'Back', contacts_path, class:"btn btn-info" %>
  </div>
</div>



